body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: ghostwhite;
    align-items: center;
    border-radius: 10px;
    width: 94%;
    padding: 0% 3% 0% 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    cursor: pointer;
    color: rgb(69, 179, 69);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar ul li{
    margin: 10px;
    display: inline;
}
a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}
a:hover{
    color: black;
    text-decoration: underline;
}
.login, .signup{   
    cursor: pointer; 
    background-color: green;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
    width: 80px;
    transition: all 0.5s;
}
.login:hover, .signup:hover{
    text-decoration: none;
    color: white;
    width: 90px;
    background-color: rgb(110, 167, 110);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, rgb(9, 169, 9), rgb(101, 213, 101), green);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 300px;
    margin: 1%;

    color: white;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    transition: all 0.4s;
}
.home:hover{
    font-size: 30px;

}
.cardholder, .foot{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly; 
    background-color: ghostwhite;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 250px;
}
.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    color: rgb(101, 213, 101);
    margin: 25px;
    padding: 25px;
    width: 20%;
    height: 120px;
    transition: all 0.6s;
    cursor: pointer;
}
.card:hover{
    width: 30%;
    height: 150px;
}
img{
    border-radius: 10px;
    width: 60px;
    height: 60px;
    transition: all 0.5s; 
}
img:hover{
    width: 70px;
    height: 70px;
}
.start{
    background-color: whitesmoke;
    color: green;
    border: none;
    border-radius: 50px;
    padding: 10px;
    font-weight: bold;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
}
.start:hover{
    text-decoration: underline;
    width: 120px;
}

.loginform, .regform, .help, .buy, .sell, .portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: ghostwhite;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    display: none;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cross{
    background: none;
    color: green;
    border: none;
    font-weight: bold;
    transition: all 0.1s;
    cursor: pointer;
    font-size: x-large;
    margin-right: 5px;
}
.cross:hover{
    color: red;
    font-size: xx-large;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
th{
    color: green;
    font-size: large;
    text-align: left;
} 
td{
    text-align: center;
}
input[type=text], input[type=password], input[type=number], input[type=email]{
    border-color:  green ;
    border-width: 3px;
    border-radius: 10px;
    width: 100%;
    height: 20px;
}
.submit{
    background-color: green;
    color: white;
    border-radius: 50px;
    width: 40%;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: all 0.4s;
}
.submit:hover{
    width: 45%;
    text-decoration: underline ;
}
.portf{
    background-color: green;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 200px;
}
.buyit{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}
.shares{
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.buy1, .sell1{
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    width: 60px;
    height: 20px;
    transition: all 0.1s;
}
.buy1:hover, .sell1:hover{
    background-color: rgb(3, 111, 3);
    width: 61px;
}
.foot9{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between; 
    background-color: ghostwhite;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height: 250px;
}